{% extends 'base.html' %}

{% load static %}



{% block content %}


<br>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="BLESSED ADEOYE AFFILIATE AMAZON & JUMIA " />
    <meta name="author" content="BLESSED ADEOYE OMOBUWA" />
    <title>BLESSED ADEOYE | OMOBUWA</title>
  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="{% static 'img/78.ico' %}" rel="icon">
  <link rel="icon" type="image/x-icon" href="{% static 'img/78.ico' %}" rel="apple-touch-icon">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="{% static 'fonts/css/all.css' %}">
<link rel="stylesheet" href="{% static 'ade.css' %}">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

<script>
  window.oncontextmenu = function(){
    alert('CONTACT OMOBUWA BLESSED ADEOYE')
    return false;
  }
</script>

<body class="w3-light-grey" data-aos="fade-up">
<a href="{% url 'af:amazon' %}">
  <img src="{% static 'img/34.png' %}" style="margin-left: 550px; margin-top: 5px;">
</a>


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{% static 'img/7.jpg' %}" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white"></div>
        </div>
        <div class="w3-container">
		  <h3  style="background-color: teal; color: white">BLESSED ADEOYE OMOBUWA</h3>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Health Information Management PRATITIONER</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i> Nigeria, WEST AFRICA</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>blessed1adeoye@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+2348132986310</p>
          <hr>

          <p style="color:red;" class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p style="color: gold;"><b>Data Science</b> </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p style="color: gold;"><b>Clinical coding </b></p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">
              <div class="w3-center w3-text-white">90%</div>
            </div>
          </div>
          <p style="color: gold;"><b>Clinical and Health Administration</b></p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:87%">87%</div>
          </div>
          <p style="color: gold"><b>Music</b></p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
          </div>
          <br>

          <p style="color:red;" class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Yoruba</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:77%"></div>
          </div>
          <p>French</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
          </div>
          <p>Pingin</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 style="background-color: blue; color: white" ><b><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge"></i>Work Experience</b></h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Front Liner in Health / University College Hospital Ibadan </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>oct 2013 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>i am a certified Health Information Management practitioner. That is to tell you that i am a health Data Scientist praticing presently in Nigeria </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> Python Programming </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2019 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p style="color: blue;"><b>I Love to Code in Python Programming  because it gave me everything, come to think of it as an Health Information Management practitioner.
            i use Python programming for Machine Learning, Web and  Application Developer i can do all thing through christ that strengthen me.
            </p></b>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> Music</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>since 1 day of Life - <span class="w3-tag w3-teal w3-round">Forever</span></h6>
          <p>I will Praise God forever more. </p><br>
		  <hr>
        </div>
		<div class="w3-container">
          <h5 class="w3-opacity"><b> Khardy International Company</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013</h6>
          <p>I will Praise God forever more. </p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Health Information Management Profession</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
          <p> All I need to know in one place</p>
          <hr>
        </div>
		<div class="w3-container">
          <h5 class="w3-opacity"><b>WORD OF FAITH BIBLE INSTITUTE</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
          <p> Leadership Diploma Course</p>
         <br><hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Houdegbe North American University Republique du Benin</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013/2014 - 2016</h6>
          <p> Degree</p>
          <hr>
        </div>
		<div class="w3-container">
          <h5 class="w3-opacity"><b>School of Health Information Management UCH. Nigeria</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2008 - 2013</h6>
          <p> Diploma</p>
         <br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>





<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
<!--  <a class="fab fa-facebook" href="https://facebook.com/realbuar?_rdc=1&_rdr" target="_blank"></a>-->
  <a class="fab fa-instagram" href="https://instagram.com/realbuar/" target="_blank"></a>
  <i class="fab fa-snapchat"></i>
  <a class="fab fa-twitter" href="https://twitter.com/REALBUAR" target="_blank"></a>
  <p><b>Powered by <a href="/" target="_blank"> BLESSED ADEOYE OMOBUWA with <i style="color:gold;" class="fa fa-heart"></i>  <i style="color:red;" class="fa fa-heart"></i></a></b></p>
  <img  src="{% static 'img/78.png' %}">
</footer>

{% endblock content %}
